name: CI

on: [push]

jobs:
 sast_scan:
   name: Run Bandit Scan
   runs-on: ubuntu-latest

   steps:
   - name: Checkout code
     uses: actions/checkout@v4

   - name: Set up Python
     uses: actions/setup-python@v5
     with:
       python-version: 3.12

   - name: Install Bandit
     run: pip install bandit --no-cache-dir bandit

   - name: Run Bandit Scan
     run: bandit -ll -ii -r . -f json -o bandit-report.json

   - name: Upload Artifact
     uses: actions/upload-artifact@v4
     if: always()
     with:
       name: bandit-findings
       path: bandit-report.json

 image_scan:
   name: Build Image and Run Image Scan
   runs-on: ubuntu-latest

   steps:
   - name: Checkout code
     uses: actions/checkout@v4
   
   - name: Verify Docker
     run: |
          docker version
          docker buildx version

   - name: Build Docker Image
     run: docker build -t myapp:latest .

#    - name: Docker Scout Scan
#      run: |
#        curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
#        sh install-scout.sh
#        echo ${{ secrets.REPO_PWD }} | docker login -u ${{ secrets.REPO_USER }} --password-stdin
#        docker scout quickview
#        docker scout cves

   - name: Docker Scout Scan
     uses: docker/scout-action@v1.18.2
     with:
       dockerhub-user: ${{ secrets.REPO_USER }}
       dockerhub-password: ${{ secrets.REPO_PWD }}
       command: quickview,cves